<h1>Game index</h1>

<%= form_for @changeset, game_path(@conn, :create), fn f -> %>
  <label>
    Player One Name: <%= text_input f, :player_one_name %>
  </label>

  <label>
    Player Two Name: <%= text_input f, :player_two_name %>
  </label>

  <%= submit "Submit" %>
<% end %>


<%= for game <- @games do %>
  <p><%= "#{game.player_one_name} #{game.player_two_name} #{game.winner}" %> 

<% end %>